body {
  color: #777777;
}

th {
  text-align: center;
}

.btn {
  color: rgb(255, 255, 255);
  border-color: transparent;
  background-color: rgb(255, 80, 0);
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  // font-weight: 600;
  // color: #ff5000;
  color: #498fab;
}

.alert {
  background: #ffb780;
}

.card.form {
  background: #f1f1f1;;
}

label {
  font-weight: bold;
  color: #444444;
}

.form-label {
  color: #777777;
}

h1 {
  color: #498fab;
  font-size: 50px;
}

.card-deck {
  // background-color: #e3f0f5;
  // color: #424242;
  background: #f9f9f9;
  border: 1px solid #f1f1f1;
  color: #777777; 
  
  h1 {
    // color:#ff5000;
    color: #498fab;
    font-weight: bold;
  }

  h3 {
    color: #777777; 
    font-weight: bold;
  }

  .inputCard {
    background: #f1f1f1;
  }
}